{% extends "base/layout.html.twig" %}

{% block content %}
  <div class="center box">
    <h2 class="ui top attached header">
      <i class="barcode icon"></i>
      <div class="content">
        Check in
      </div>
      <div class="sub header">Scan or enter a barcode to check in</div>
    </h2>
    <div class="ui form bottom attached segment">
        <form id="checkin_form" action="{{ url('try_checkin') }}" method="post">
        <div class="field">
          <input class="ui input" id="ticket_id" name="ticket_id" placeholder="Ticket ID (Or name/nickname)" type="text" autofocus>
        </div>
        <button id="submit_button" type="submit" class="ui massive fluid labeled icon button">
          <i class="check icon"></i>
          Check in
        </button>
      </form>
    </div>
  </div>

  {% if message is defined %}
    <div style="width:600px; margin-left:auto; margin-right:auto;" class="ui icon red message">
      <i class="{{ message['icon'] }} icon"></i>
      <div class="content">
        <div class="header">
            {{ message['header']}}
        </div>
        <p>{{ message['text'] }}</p>
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block foot %}
  {{ parent() }}
  <script type="text/javascript">
    (function($) {
      $("#ticket_id").on('keyup change input', function() {
        var isSearch = isNaN(this.value);
        var iconClass = isSearch ? "search" : "check";
        var buttonTitle = isSearch ? "Search" : "Check in";

        $("#submit_button i").attr("class", "icon " + iconClass);
        $('#submit_button').contents().last().replaceWith(buttonTitle);
      })
    })(jQuery);
  </script>
{% endblock %}

