{% extends "checkin/base.html.twig" %}

{% block title %}Checkin{% endblock %}

{% block content %}
  {{ parent() }}

  <div style="width:600px; margin-left:auto; margin-right:auto;" class="ui large top attached message">
    <div class="header">
      Search Results
    </div>
    Found {{ attendees|length }} attendee(s) for search "{{ search }}"
  </div>
  <table style="width:600px; margin-left:auto; margin-right:auto;" class="ui three column sortable bottom attached table segment">
    <thead>
      <tr>
        <th>Name</th>
        <th>Nickname</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for attendee in attendees %}
        <tr>
          <td colspan="1">{{ attendee['name'] }}</td>
          <td colspan="1">{{ attendee['nickname'] }}</td>
          <td colspan="1" style="text-align: right">
            <form action="{{ url('checkin_post') }}" method="post">
              <input id="ticket_id" name="ticket_id" type="hidden" value="{{ attendee['ticket_id'] }}">
              {% if attendee['checked_in'] %}
                <button type="submit" class="ui mini fluid labeled icon button blue">
                  <i class="info letter icon"></i>
                  Show Info
                </button>
              {% else %}
                <button type="submit" class="ui mini fluid labeled icon button green">
                  <i class="check icon"></i>
                  Check in
                </button>
              {% endif %}
            </form>
          </td>
        </td>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
